/** @format */
@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");

.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fffdf5;
}
