/** @format */

.Button {
  border-radius: 1000px;
  padding: 8px 40px;
  font-family: "Kantumruy Pro", sans-serif;

  p {
    color: #7d1607;
    font-size: 13px;
    font-weight: 300;
  }
}

.primaryButton {
  background-color: #7d1607;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.secondaryButton {
  background-color: transparent;
  color: #7d1607;
  border: 1px solid #7d1607;
  cursor: pointer;
}

@media (max-width: 480px) {
  .Button {
    width: 100%;
    padding: 10px 18px;
  }
}
