/** @format */

.squareButton {
  text-decoration: none;
  padding: 8px 32px;
  background-color: #7d1607;
  color: #ffffff;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: fit-content;
  font-family: "Kantumruy Pro", sans-serif;
}
